{templateType app\System\UI\Http\Web\Template\BaseTemplate}
<footer class="flex-none bg-black bg-opacity-40 text-white">
	<div class="py-2 flex justify-center">
		<span>© 2024, Benji the Doggo</span>
	</div>
</footer>